[Desktop Entry]
Encoding=UTF-8
Name=wmnd
Comment=Network Monitor
Comment[pl]=Monitor Sieci
Exec=wmnd
Terminal=false
Type=Application
Categories=X-Docklet;Utility;Network
NotShownIn=GNOME;KDE;
# vi: encoding=utf-8
